<header>
    <ul>
        <li><a href="{{url('app_homepage')}}">accueil</a></li>
        <li><a href="{{url('app_product_new')}}"> Ajouter un produit</a></li>
        <li><a href="{{url('app_product_index')}}"> Consulter tous les produits</a></li>
    </ul>
</header>